# Build results
bin/
obj/
artifacts/
TestResult*/

# Packages
*.nupkg
*.snupkg
*.nuspec

# User files
*.user
*.suo
*.sln.iml

# IDEs ms
.vscode/
.idea/
.vs/

# Others
*.dll
*.pdb
*.cache
*.log

# Optional: si usás Rider
*.DotSettings.user
